body {
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background-color: #343a40;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
}